<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ws</key>
	<string>ws://192.168.0.34:30016</string>
	<key>meetCode</key>
	<string>225038471</string>
	<key>api</key>
	<string>http://192.168.0.34:9000/</string>
</dict>
</plist>
